*.html
config.js
node-schedular/config.js

backend/uploads/*/*/*
!backend/uploads/*/*/.gitkeep

backend/application/config/config.php
backend/ca.crt
backend/composer_backup.zip

backend/application/controllers/*
!backend/application/controllers/AccessController.php
!backend/application/controllers/DocumentController.php
!backend/application/controllers/FormController.php
!backend/application/controllers/UserController.php

backend/application/models/*
!backend/application/models/Access.php
!backend/application/models/Form.php
!backend/application/models/User.php