const baseUrl = "YOUR_BASE_URL"
const baseESUrl = "YOUR_BASE_ELASTIC_URL"

const nameIndexMapping = {
    'edocs_integrated_report': 'Integrated Report',
    'edocs_lay_off_summary': 'Lay off Summary',
    'edocs_absenteeism': 'Absenteeism',
    'edocs_recruitment_resign': 'Recruitment vs Resign',
    'edocs_turn_over_rate': 'Turn Over Rate',
    'edocs_demography': 'Demography',
    'edocs_procedure': 'Procedure',
    'edocs_form': 'Form',
    'edocs_policy': 'Policy',
    'edocs_work_instruction': 'Work Instruction',
    'edocs_permit': 'Permit',
    'edocs_sharing_knowledge': 'Sharing Knowledge',
    'edocs_evaluation': 'Evaluation',
    'edocs_hira_asdam': 'HIRA/ASDAM',
    'edocs_monthly_audit': 'Monthly Audit',
    'edocs_smns': 'SM&amp;S Monthly Review',
    'edocs_one_page_report': 'One Page Report',
    'edocs_project_map': 'Project Map',
    'edocs_mp_activity_report': 'MP Activity Update',
    'edocs_score_card': 'Score Card',
    'edocs_stg_sms_kpi': 'STG SMS KPI',
    'edocs_stg_ec_kpi': 'STG EC KPI',
    'edocs_stg_ec_kpi2': 'STG EC KPI 2',
    'edocs_stg_ec_baseline_o2': 'STG EC Baseline o2',
    'edocs_stg_hs_kpi': 'STG HS KPI',
    'edocs_stg_es_kpi': 'STG ES KPI',
    'edocs_stg_es_kpi2': 'STG ES KPI2',
    'edocs_stg_hr_kpi': 'STG HR KPI',
    'edocs_gallery_photo': 'Gallery Photo',
    'edocs_gallery_video': 'Gallery Video',
    'edocs_company': 'Company',
    'edocs_department': 'Department',
    'edocs_user': 'User Data',
    'edocs_procedure_log': 'Procedure Activity Log',
    'edocs_cramah_pagi': 'CRamah Pagi',
    'edocs_training': 'Training',
    'edocs_ast_ust': 'AST &amp; UST',
    'edocs_air_emisions': 'Air Emisions',
    'edocs_asbestos': 'Asbestos',
    'edocs_hazardous_materials': 'Hazardous Materials',
    'edocs_hazardous_waste': 'Hazardous Waste',
    'edocs_pcb': 'PCB',
    'edocs_solid_waste': 'Solid Waste',
    'edocs_waste_water': 'Waste Water',
    'edocs_nano_material': 'Nano Material',
    'edocs_ergonomic': 'Ergonomic',
    'edocs_gwe': 'General Work Environment',
    'edocs_hsp': 'Heat Stress Prevention',
    'edocs_machine_guarding': 'Machine Guarding',
    'edocs_radiation': 'Radiation',
    'edocs_oel': 'Occupational Exposure Limits',
    'edocs_occupational_noise': 'Occupational Noise',
    'edocs_ppe': 'Personal Protective Equipment',
    'edocs_respiratory_protetcion': 'Respiratory Protection',
    'edocs_laser_safety': 'Laser Safety',
    'edocs_traffic_vehicle': 'Traffic and Vehicle',
    'edocs_bss': 'Building Structure Safety',
    'edocs_confined_spaced': 'Confined Spaced',
    'edocs_contarctor_safety': 'Contractor Safety',
    'edocs_che': 'Control Hazardous Energy',
    'edocs_electrical_safety': 'Electrical Safety',
    'edocs_fall_protection': 'Fall Protection',
    'edocs_maintenance_safety': 'Maintenance Safety',
    'edocs_pmv': 'Powered Motor Vehicle',
    'edocs_bloodborne_pathogens': 'Bloodborne Pathogens',
    'edocs_emergency_action': 'Emergency Action',
    'edocs_fsm': 'Fire Safety Management',
    'edocs_msfa': 'Medical Services &amp; First Aid',
    'edocs_canteen': 'Canteen',
    'edocs_childcare_management': 'Childcare Management',
    'edocs_sanitation': 'Sanitation',
    'edocs_drinking_water': 'Drinking Water',
    'edocs_ohm': 'Occupational Health Management',
    'edocs_injury_illness': 'Injury &amp; Illness',
    'edocs_hse_commitee': 'HSE Commitee',
    'edocs_hms': 'HSE Management System',
    'edocs_employment_voluntary': 'Employment is Voluntary',
    'edocs_employees_16': 'Employees are at Least Age 16',
    'edocs_cdnd': 'Contractor Does Not Discriminate',
    'edocs_regular_employment': 'Regular Employment',
    'edocs_harassment_abuse': 'Harassment and Abuse',
    'edocs_implementation_coc_cls': 'Implementation CoC &amp; CLS',
    'edocs_ctp': 'Compensation is Timely Paid',
    'edocs_whne': 'Working Hour are Not Excessive',
    'edocs_freedom_association': 'Freedom of Association',
    'edocs_kebijakan_labor': 'Kebijakan Labor',
    'edocs_certificate': 'Certificate',
}